canvas {
/*	width: 480px;
	height: 336px;
*/	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	border: 5px solid darkgrey;
}
.tileSet {
	display: none;
}
#bgCanvas {
	z-index: 0;
}
#entityCanvas {
	z-index: 1;
}
#creatureCanvas {
	z-index: 2;
}
#playerCanvas {
	z-index: 3;
}
#attackCanvas {
	z-index: 4;
}
#debugCanvas {
	z-index: 10;
}





/*	Level map */
#mapDiv {
	position: absolute;
	top: 300px;
	background: pink;
	z-index: 99;
}
.terrain {
	width: 5px;
	height: 5px;
	margin: 0;
	padding: 0;
	background: brown;
	float: left;
}
.room {
	background: yellow;
}
