@font-face {
	font-family: 'dpcomic';
	src: url('lib/dpcomic.ttf');
}
body {
	font-family: 'dpcomic';
	font-size: 2rem;
}

hr {
    padding: 0;
    border: none;
    width: 70%;
    border-top: 12px double black;
    color: #333;
    text-align: center;
}
#gameMenuDiv {
	z-index: 11;
	margin: auto;
	background: lightgrey;
	position: absolute;
	border: 5px solid darkgrey;
}
.gameMenuScreen {
	padding: 40px;
	text-align: center;
}


canvas {
/*	width: 480px;
	height: 336px;
*/	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	border: 5px solid darkgrey;
}
.tileSet {
	display: none;
}
#background {
	background: black;
	position: absolute;
	z-index: 0;
	border: 5px solid darkgrey;
}
#bgCanvas {
	z-index: 1;
}
#drawableCanvas {
	z-index: 2;
}
#attackCanvas {
	z-index: 4;
}
#debugCanvas {
	z-index: 9;
}
#interfaceCanvas {
	z-index: 10;
}
#interfaceDivLeft {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 5;
	color: rgba(255,255,255,0.65);
}
#interfaceDivRight {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 5;
	color: rgba(255,255,255,0.65);
}
#scoreDiv {
	width: 100%;
}
#scoreDiv p {
	margin: 0;
}
#messageDiv {
	position: absolute;
	z-index: 11;
	color: rgba(255,255,255,0.65);
}
#messageSpan {
	position: absolute;
	border-radius: 10px;
	padding: 20px;
	top: 10%;
	left: 50%;
	transform: translateX(-50%); 
	white-space: nowrap;
	background: rgba(0,0,0,0.5);
	text-align: center;
}

/*	Level map */
#mapDiv {
	position: absolute;
	top: 670px;
	background: pink;
	z-index: 99;
}
.terrain {
	width: 3px;
	height: 3px;
	margin: 0;
	padding: 0;
	background: lightgrey;
	float: left;
}
.room {
	background: blue;
}
.filledRoom {
	background: green;
}