canvas {
/*	width: 480px;
	height: 336px;
*/	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	border: 5px solid darkgrey;
}
.tileSet {
	display: none;
}
#background {
	background: black;
	position: absolute;
	z-index: 0;
	border: 5px solid darkgrey;
}
#bgCanvas {
	z-index: 1;
}
#creatureCanvas {
	z-index: 2;
}
#playerCanvas {
	z-index: 3;
}
#attackCanvas {
	z-index: 4;
}
#fgCanvas {
	z-index: 5;
}
#debugCanvas {
	z-index: 10;
}





/*	Level map */
#mapDiv {
	position: absolute;
	top: 580px;
	background: pink;
	z-index: 99;
}
.terrain {
	width: 3px;
	height: 3px;
	margin: 0;
	padding: 0;
	background: lightgrey;
	float: left;
}
.room {
	background: blue;
}
.filledRoom {
	background: green;
}